.recalls {
  padding-bottom: 50px;
  &-client {
    margin-top: 60px;
    display: flex;
    &__img {
      margin-right: 60px;
      width: 170px;
      height: 170px;
    }
    &__name {
      font-weight: 700;
      font-size: 18px;
      color: #0D0D0D;
    }
    &__effort {
      font-weight: 500;
      font-size: 14px;
      color: #646464;
    }
    &__text {
      margin-top: 10px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #0D0D0D;
    }
  }
}